<!DOCTYPE html>
<html>
    <head>
        <title> Counter - Main </title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1> Button counts </h1>
        </header>
        <main>
            <form action="{{ url_for('reset') }}" method="POST">
                <p name="left">{{ sub.cnt0 }}</p>
                <p name="right">{{ sub.cnt1 }}</p>
                <button type="submit"> Reset counts </button>
            </form>
        </main>
    </body>
</html>
